:root {
  --bg-main: rgb(73, 73, 73);
  --bg-nav: #333;
  --hover-dark: #111;
  --text-lightblue: #e2f8fd;
}

h2 {
  text-align: center;
  font-size: 22pt;
  margin-bottom: 1%;
}

h3 {
  text-align: center;
  margin: 0;
  color: var(--text-lightblue);
  border-radius: 10px;
  font-size: 25pt;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 3%;
  padding-top: 2%;
}

.card {
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.795);
  width: 40%;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.397);
}

.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-title {
  background-color: var(--bg-nav);
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.card-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1%;
}

.card-items > li {
  margin: 10px;
  align-items: center;
  font-weight: bolder;
  font-size: 14pt;
}

li ul {
  display: flex;
  flex-direction: column;
}

.card-items > li > span {
  font-weight: normal;
  font-size: 12pt;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------ SMALL SCREENS ---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1100px) {
  h2 {
    text-align: left;
    margin: 2%;
  }

  .card {
    margin-top: 4%;
    width: 95%;
  }
  .card:first-of-type {
    margin-top: 10%;
  }

  .card:last-of-type {
    margin-bottom: 4%;
  }

  .card-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-items > li {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: bolder;
    font-size: 14pt;
  }

  .card-items > li > span {
    font-weight: normal;
    font-size: 12pt;
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  h2 {
    text-align: left;
    margin: 2%;
  }

  .card {
    margin-top: 4%;
    width: 95%;
  }
  .card:first-of-type {
    margin-top: 20%;
  }

  .card:last-of-type {
    margin-bottom: 8%;
  }

  .card-info {
    flex-direction: column;
  }

  .card-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-items > li {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: bolder;
    font-size: 14pt;
  }

  .card-items > li > span {
    font-weight: normal;
    font-size: 12pt;
    text-align: left;
  }
}
